* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#full-site-box {
    padding: 20px;
}

.recipe-redirect-link {
    background-color: lightblue;
}

.page-title {
    color: rgb(0, 98, 5);
    text-align: center;
    font-weight: 1000;
}

#page-title-recipes {
    font-weight: 500;
}

img {
    height: 200px;
    width: auto;
}